[Unit]
Description=Perform an rclone sync every day at 1 PM.

[Timer]
# Runs at 1 PM every day
OnCalendar=*-*-* 13:00:00
Persistent=true

[Install]
WantedBy=timers.target
