[Unit]
Description=Rclone Sync Service
After=network.target

[Service]
Type=simple
ExecStart=/bin/bash /home/wkdk/scripts/rclone.sh
Restart=on-failure
User=wkdk
Group=wkdk
WorkingDirectory=/home/wkdk/scripts
Environment=PATH=/usr/bin:/usr/local/bin
Environment=HOME=/home/wkdk

[Install]
WantedBy=multi-user.target
