
[Unit]
Description=shutdown script

[Service]
Type=oneshot
RemainAfterExit=true
ExecStop=/home/wkdkavishka/scripts/shutdown-script.sh

[Install]
WantedBy=multi-user.target
